*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.sidebar{
    display: flex;
    flex-direction: column;
    /*background-color: red;*/
    background-color: antiquewhite;
    width: 300px;
    height: 100vh;
}
.sidebar > nav {
    padding: 25px;
}
nav >ul > li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0px;
}
nav > ul > li >a {
    text-decoration: none;
    color: black
}
nav > ul > li > a:hover {
    color:rgb(25, 200, 219);
    background-color: rgb(93, 220, 20, 0;
    border-radius: 8px
}
.container{
    display: flex;
}
.devinfo{
   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main{
    display: flex;
    border: 2px solid;
}